<div class="about-wrapper">
<div class="bg bg-blur" style="background:url('/images/bg/bg-3.jpg');background-position:center"></div>
<%- partial('_partial/masthead') %>
<div class="about-content">

<div class="container">
<div class="blog-header">
<h1 class="blog-title"><%- post.title %></h1>
</div>
<%- post.content %>
	
<hr>	
<%- partial('_partial/plugins/mini-map')%>

 </div>
</div>
</div>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
