<% if (!index) {%>
	
	<div class="container">
	<div class="article-wrapper">
<% } %>

<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
	


<header class="article-header">
<%- partial('post/title', {class_name: 'article-title'}) %>
	<% if (!index&&post.password) {%>
	<%- partial("post/seal", {pass:post.password})%>
	<% } %>

<%- partial("_partial/article-meta")%>

</header>

<div class="article-inner">
<div class="article-entry" itemprop="articleBody">
  <% if (post.excerpt && index){ %>
	<%- post.excerpt %>
	<% if (theme.excerpt_link){ %>
	  <p class="article-more-link">
		<a class="btn btn-primary" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
	  </p>
	<% } %>
  <% } else { %>
  
	<%- partial('post/toc')%>
	<%if (!index&&post.translate) {%>
		<div class="translate-article">
		<%- partial('_widget/translate') %>
	 </div>
	<% } %>
	
	<%- post.content %>
	
  <% } %>
</div>

<% if (!(post.excerpt && index)){ %>
  <%- partial('post/gallery') %>
<% } %>
<% if (index) {%>
<%- partial("_partial/article-footer")%>
<% } %>

</div>

</article>



<% if (!index) {%>
	</div><!--end of article wrapper-->
	</div>
<% } %>
